
<div role="group" class="container"
     [formGroup]="parts"
     (focusin)="onFocusIn($event)"
     (focusout)="onFocusOut($event)">

    <div class="container__input">
        <input [id]="id" matInput formControlName="input" (input)="onInput()" #input placeholder="Amount">
    </div>

    <mat-divider vertical/>

    <div class="container__button">
        <input type="hidden" formControlName="select" >
        <button type="button" mat-button [matMenuTriggerFor]="menu">
            {{ parts.value.select || 'Select' }}
            <mat-icon iconPositionEnd color="primary">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="container__menu" #menu="matMenu">
            <button *ngFor="let opt of options" mat-menu-item (click)="onSelect(input.value, opt.value)">{{ opt.label }}</button>
        </mat-menu>
    </div>

</div>