.container {
  display: inline-flex;
}

mat-divider {
  position: relative;
  margin: 0 8px;
}

.container__input {
  display: flex;
  align-items: center;
  line-height: normal;
  flex: 1;

  input {
    border: none;
    outline: none;
    padding: 0;
    text-align: right;
  }
}

.container__button {
  flex: 1;

  button {
    height: auto;
  }
}
